.modal-content {
    width: 40rem;
    height: auto;
    max-height: 80vh;
    padding: 30px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background: rgb(217, 217, 217);
    border-radius: 8px;
    overflow-y: auto;
    position: relative;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

